@font-face {
    font-family: blackoutSunrise;
    src: url('../fonts/blackoutSunrise.ttf'), url('../fonts/blackoutSunrise.eot');
}

@font-face {
    font-family: blackoutTwo;
    src: url('../fonts/blackoutTwo.ttf'), url('../fonts/blackoutTwo.eot');
}

@font-face {
    font-family: ralewayThin;
    src: url('../fonts/ralewayThin.ttf'), url('../fonts/ralewayThin.eot');
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

body, html {
    background-color:#4c83d3;
    background-image:url('../images/bg.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    margin:0px;
    width:100%;
    height:100%;
}

#mainContent {
    width:1024px;
    height:100%;
    background-color: #fe2023;
    background: url(images/mainContentBG.jpg');
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe2023), to(#530055));
    background: -webkit-linear-gradient(top, #530055, #fe2023);
    background: -moz-linear-gradient(top, #530055, #fe2023);
    background: -ms-linear-gradient(top, #530055, #fe2023);
    background: -o-linear-gradient(top, #530055, #fe2023);
    margin-left: auto;
    margin-right: auto;
    font-family: ralewayThin, Arial, sans-serif;
    font-size:18px;
    text-align:justify;
}

#title {
    font-family: blackoutSunrise, Arial, sans-serif;
    color:#fcf;
    font-size:80px;
    margin-left:-18px;
}

#title a {
    color:#fcf;
    text-decoration:none;
}

#postRight {
    background:#112;
    width:100%;
    min-height:300px;
    overflow:auto;
    margin-left:5%;
    margin-top:20px;
    border-radius: 10px 0px 0px 10px;
}

#postRight p {
    padding:15px;
}

#postRight h1 {
    width:100%;
    font-family: blackoutTwo, Arial, sans-serif;
    color:#fff;
    font-size:40px;
    margin-top:-10px;
    float:right;
}

#postRight a {
    color:#fcf;
    text-decoration:none;
}

#postLeft {
    background:#fcf;
    width:100%;
    min-height:300px;
    overflow:auto;
    margin-left:-5%;
    margin-top:20px;
    border-radius: 0px 10px 10px 0px;
}

#postLeft p {
    padding:15px;
}

#postLeft h1 {
    width:100%;
    font-family: blackoutTwo, Arial, sans-serif;
    color:#000;
    font-size:40px;
    margin-top:-10px;
    float:left;
}

#postLeft a {
    color:#a03;
    text-decoration:none;
}


#postRight #postContent {
    color:#fff;
    float:left;
}

#archive {
    width:1024px;
    text-align:center;
    font-family: blackoutTwo, Arial, sans-serif;
    font-size:30px;
    background-color: #ba0000;
    margin-left:auto;
    margin-right:auto;
    border-radius:0px 0px 10px 10px;
}

#archive a {
    color:#f56;
}

hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
}

blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;
}

blockquote:before {
  content:"\201C";
  font-size:40px;
  margin-left:-10px;
  font-family:georgia,serif;
  color:#eee;
}

blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
  font-style: italic;
}

code, pre {
  font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
}

.archive ul {
  list-style: none;
  margin: 0;
  padding: 5px 20px;
}
.archive .year {
  font-size: 18px;
  margin-top: 10px;
}

code {
  background-color: #eef3f9;
  border: 1px solid #dfdfdf;
  padding: 1px 3px;
  font-size: 12px;
  border-radius: 2px;
}

pre {
  display: block;
  padding: 14px;
  margin: 0 0 18px;
  line-height: 16px;
  font-size: 11px;
  border: 1px solid #dfdfdf;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #eef3f9;
}

pre code {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

@media screen and (max-width: 1024px) {
    
    img {
        width: 95%;
    }
    #mainContent {
        min-width:0;
        width: 100%;
        left:0;
    }
    #postRight {
        margin-left:0;
        border-radius:0;
    }
    #postLeft {
        margin-left:0;
        border-radius:0;
    }
    #archive {
        min-width:0;
        width: 100%;
    }
}


